* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeff1;
}

/* nav */

#nav {
    z-index: 9999;
  padding: 20px 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: #eeeff1;

}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo .logo__img {
  background: url(/assets/img/logo-1.png) top center / cover no-repeat;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.nav__logo .logo__img:hover {
  background: url(/assets/img/logo-2.png) top center / cover no-repeat;
}

.nav__logo .logo__name {
  padding-left: 15px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.nav__logo .logo__name:hover {
  opacity: 0.6;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list .nav__item {
  font-size: 15px;
  margin-right: 30px;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.nav__list .nav__item:hover {
  opacity: 0.6;
}

.nav-input {
  display: none;
}

.nav__list .nav__item-btn {
  padding: 16px 25px;
  background-color: black;
  color: white;
  border-radius: 8px;
  margin-right: 0px;
}

/* nemu icon */

.menu__icon {
  display: none;
}

.nav__list__hide {
  display: none;
}

/* main */

#main {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px;
}

/* detail */

.detail {
  margin: 90px 0px 140px 0px;
  display: flex;
}

.detail .detail__img {
  border-radius: 8px;
  max-width: 100%;
  width: 419px;
  margin-top: 100px;
}

.detail .detail__text {
  margin: auto;
  padding-left: 50px;
}

.detail .detail__text h1 {
  margin: 10px 0px;
  font-family: sans-serif;
  font-weight: 540;
  font-size: 80px;
}

.detail .detail__text p {
  font-size: 25px;
  line-height: 39px;
  font-weight: 300;
  font-family: sans-serif;
  letter-spacing: 0;
}

/* skill */

.skill {
  width: 100%;
  display: flex;
  margin-bottom: 170px;
}

.skill__content {
  width: 570px;
}

.skill__content h1 {
  margin: 20px 0 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 500;
  font-family: sans-serif;
}

.skill__content p {
  position: relative;
  opacity: 1;
  font-size: 20px;
  line-height: 38px;
  font-weight: 100;
  font-family: sans-serif;
}

.skill__list {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  padding: 64px 0px 0px 150px;
}

.skill__list .skill__item {
  padding: 0px 10px 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.432);
  margin: 0px 10px 10px 0px;
  border-radius: 8px;
  height: 38px;
  line-height: 38px;
  font-weight: 550;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.664);
}

/* comment */

.comment .comment__title {
  font-size: 44px;
  margin-bottom: 15px;
  font-family: sans-serif;
  font-weight: 550;
}

.comment .comment__content {
  display: flex;
}

.comment .comment__avt {
  flex: 1;
}

.comment .comment__avt img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 0px;
}

.comment .name__avt {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 40;
}

.comment .staff__position {
  font-family: sans-serif;
  margin-top: 10px;
}

.comment .comment__text {
  flex: 3;
  padding-top: 30px;
  position: relative;
  opacity: 1;
  font-size: 20px;
  line-height: 38px;
  font-weight: 100;
  font-family: sans-serif;
}

/* contact */
.contact {
  margin: 170px 0px;
  width: 100%;
  height: 523px;
  border: 1.5px solid rgb(51, 51, 51);
  border-radius: 8px;
  display: flex;
}

.contact h2 {
  flex: 1;
  font-size: 64px;
  font-family: sans-serif;
  font-weight: 100;
  padding: 100px 0px 0px 100px;
  line-height: 88px;
}

.contact .contact__right {
  padding: 100px 0px 0px 0px;
  flex: 1;
}

.contact .contact__right label {
  color: gray;
}

.contact .contact__input {
  display: flex;
}

.contact .contact__right .input input {
  height: 60px;
  border: none;
  border-radius: 10px;
  transition: border-color 0.4s;
  font-size: 15px;
  line-height: 26px;
  color: gray;
  padding: 0px 20px;
  outline: none;
  margin-right: 30px;
  margin-top: 10px;
  font-family: sans-serif;
}

input::placeholder {
  color: rgba(128, 128, 128, 0.527);
  font-family: sans-serif;
}

.contact .contact__message {
  margin-top: 20px;
  display: inline-grid;
  width: 100%;
}

.contact .contact__message textarea {
  width: 94%;
  height: 150px;
  border: none;
  border-radius: 10px;
  transition: border-color 0.4s;
  font-size: 15px;
  line-height: 26px;
  color: gray;
  outline: none;
  font-family: sans-serif;
  margin-top: 10px;
  padding: 20px 0px 0px 20px;
}

.contact .contact__message textarea::placeholder {
  color: rgba(128, 128, 128, 0.527);
  font-family: sans-serif;
}

.contact .contact__btn {
  margin: 20px 0px;
  background-color: black;
  color: white;
  padding: 16px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: opacity ease-in 0.2s;
}

.contact .contact__btn:hover {
  opacity: 0.8;
}

.footer p {
  text-align: center;
  padding-bottom: 20px;
}

.icon img {
  width: 30px;
  height: 30px;
  float: right;
  bottom: 30px;
  right: 30px;
  position: fixed;
}

/* table */

@media (min-width: 740px) and (max-width: 1023px) {
  .nav__list {
    display: none;
  }

  .menu__icon {
    display: block;
  }

  .menu__icon .icon__img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .nav__list__hide {
    position: absolute;
    text-align: center;
    width: 100%;
    display: grid;
    background-color: #eeeff1;
    height: 200px;
    top: 80px;
    z-index: 9999;
    transform: translateY(-300px);
    transition: all linear 0.5s;
    animation: fadein linear 0.5;
    left: 0px;
  }

  .nav-input:checked ~ .nav__mobile {
    transform: translateY(0%);
    opacity: 1;
  }

  .open {
    display: block;
  }

  .nav__list__hide .nav__item {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    color: black;
    text-decoration: none;
    align-self: center;
    padding: 20px 0px;
  }

  .nav__list__hide .nav__item:hover {
    opacity: 0.6;
  }

  .nav__list__hide .nav__item-btn {
    color: black;
    border-radius: 8px;
  }
  .detail{
      width: 100%;
      margin: auto;
  }

  .detail .detail__img {
    width: 222px;
  }

  .detail__text {
    margin-top: 100px !important;
  }

  .detail .detail__text h1 {
    font-size: 56px;
  }

  .skill {
    width: 100%;
    display: block;
  }

  .skill__content {
    width: 100%;
  }

  .skill__list {
    width: 100%;
    padding-left: 0px;
  }

  .comment .staff__position {
    margin-right: 5px;
  }

  .contact {
    display: block;
    height: auto;
  }

  .contact h2 {
    padding: 50px 30px 20px;
    font-size: 36px;
  }

  .contact .contact__right {
    padding: 0px 30px;
  }

  .contact .contact__input {
    width: 100%;
    justify-content: space-between;
  }

  .contact .contact__input .input {
    display: inline-grid;
    width: 48%;
  }

  .contact .contact__input .input input {
    margin-right: 0px;
    justify-content: space-between;
  }

  .contact .contact__message textarea {
    width: 100%;
    height: 100px;
  }

  .contact .contact__right label {
    margin-left: 5px;
  }
}

/* mobile */

@media (max-width: 740px) {
    .nav__list {
        display: none;
      }
    
      .menu__icon {
        display: block;
      }
    
      .menu__icon .icon__img {
        width: 35px;
        height: 35px;
        cursor: pointer;
      }
    
      .nav__list__hide {
        position: absolute;
        text-align: center;
        width: 100%;
        display: grid;
        background-color: #eeeff1;
        height: 200px;
        top: 80px;
        z-index: 9999;
        transform: translateY(-300px);
        transition: all linear 0.5s;
        animation: fadein linear 0.5;
        left: 0px;
      }
    
      .nav-input:checked ~ .nav__mobile {
        transform: translateY(0%);
        opacity: 1;
      }
    
      .open {
        display: block;
      }
    
      .nav__list__hide .nav__item {
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 600;
        cursor: pointer;
        color: black;
        text-decoration: none;
        align-self: center;
        padding: 20px 0px;
      }
    
      .nav__list__hide .nav__item:hover {
        opacity: 0.6;
      }
    
      .nav__list__hide .nav__item-btn {
        color: black;
        border-radius: 8px;
      }
    

  .detail {
    display: block;
    margin-bottom: 100px;
  }

  .detail .detail__text {
    padding: 50px 0px 0px;
  }

  .detail .detail__text h1 {
    font-size: 50px;
  }

  .skill {
    width: 100%;
    display: block;
  }

  .skill__content {
    width: 100%;
  }

  .skill__list {
    width: 100%;
    padding-left: 0px;
  }

  .comment .comment__title{
      font-size: 30px;
      text-align: center;
  }

  .comment .comment__content {
    display: block;
  }

  .comment .comment__avt{
      text-align: center;
  }

  .comment .staff__position {
    margin-right: 5px;
  }

  .contact {
    display: block;
    height: auto;
  }

  .contact h2 {
    padding: 0px 30px;
    font-size: 30px;
    line-height: 1.4;
  }

  .contact .contact__right {
    padding: 0px 30px;
  }

  .contact .contact__input {
    display: block;
  }

  .contact .contact__input .input {
    display: inline-grid;
    width: 100%;
    margin-top: 10px;
  }

  .contact .contact__input .input input {
    margin-right: 0px;
    margin-top: 10px;
    height: 50px;
    width: 100%;
  }

  .contact .contact__message textarea {
    width: 100%;
    height: 100px;
  }

  .contact .contact__right label {
    margin-left: 5px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
